@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}
.bg-image{
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-herotwo{
     background: url(bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}